
[dir="rtl"], [style*="direction:rtl"] {
  .sv-boolean__switch {
    float: right;
  }
}

.sv-boolean__label {
color: #409EFF;
}
[dir="rtl"], [style*="direction:rtl"] {
  .sv-boolean__label {
    float: right;
  }
}  