
[dir="rtl"], [style*="direction:rtl"] {
  .svrvey-boolean__switch {
    float: right;
  }
}

.svrvey-boolean__label {
color: #409EFF;
}
[dir="rtl"], [style*="direction:rtl"] {
  .svrvey-boolean__label {
    float: right;
  }
}  