@mixin svg($background-color, $checkmark-color: white) {
  border: none;
  background-color: $background-color;
  fill: $checkmark-color;
}
.svrvey-checkbox__decorator {
  border-radius: 2px;
}
.svrvey-checkbox__svg {
  border: 3px solid $border-color;
  border-radius: 2px;
  fill: transparent;
}
.svrvey-checkbox--allowhover:hover {
  .svrvey-checkbox__svg {
    @include svg($main-hover-color);
  }
}
.svrvey-checkbox--checked .svrvey-checkbox__svg {
  @include svg($main-color);
}
.svrvey-checkbox--checked.svrvey-checkbox--disabled .svrvey-checkbox__svg {
  @include svg($disable-color);
}
.svrvey-checkbox--disabled .svrvey-checkbox__svg {
  border: 3px solid $disable-color;
}
