.svrvey-imagepicker__item {
  border: none;
  padding: 0.24em;
}
.svrvey-imagepicker__item--inline {
  display: inline-block;
}
.svrvey-imagepicker__item--inline:not(:last-child) {
  margin-right: 4%;
}
.svrvey-imagepicker__image {
  border: 0.24em solid transparent;
  display: block;
  pointer-events: none;
}
.svrvey-imagepicker__label {
  cursor: inherit;
}
.svrvey-imagepicker__text {
  font-size: 1.14em;
  padding-left: 0.24em;
}
.svrvey-imagepicker__item--allowhover:hover {
  .svrvey-imagepicker__image {
    background-color: $main-hover-color;
    border-color: $main-hover-color;
  }
}
.svrvey-imagepicker__item--checked {
  .svrvey-imagepicker__image {
    background-color: $main-color;
    border-color: $main-color;
  }
}
.svrvey-imagepicker__item {
  cursor: pointer;
}
.svrvey-imagepicker__item--disabled {
  cursor: default;
}
.svrvey-imagepicker__item--disabled.svrvey-imagepicker__item--checked {
  .svrvey-imagepicker__image {
    background-color: $disable-color;
    border-color: $disable-color;
  }
}
