.svrvey-item {
  position: relative;
  cursor: pointer;
}
.svrvey-item--disabled {
  cursor: default;
}
.svrvey-item__decorator {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: solid 1px transparent;
  vertical-align: middle;
}
.svrvey-item__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.svrvey-item__control:focus + .svrvey-item__decorator {
  border-color: $main-color;
  outline: none;
}
.svrvey-item__control-label {
  margin-left: 0.4125em;
  vertical-align: middle;
}
