.svrvey-matrix {
  overflow-x: auto;
}
.svrvey-matrix__label {
  display: inline-block;
  margin: 0;
}
.svrvey-matrix__cell {
  min-width: 10em;
}
.svrvey-matrix__text {
  cursor: pointer;
}
.svrvey-matrix__text--сhecked {
  color: #ffffff;
  background-color: $main-color;
}
.svrvey-matrix__text--disabled {
  cursor: default;
  &.svrvey-matrix__text--сhecked {
    background-color: $disable-color;
  }
}
