.svrvey-multipletext__row:not(:last-child){
  margin-bottom: 1em;
}
.svrvey-multipletext__cell:not(:first-child) {
  padding-left: 0.5em;
}
.svrvey-multipletext__cell:not(:last-child){
  padding-right: 0.5em;
}
