.svrvey-radio__decorator {
  border-radius: 100%;
}
.svrvey-radio__svg {
  border: 3px solid $border-color;
  border-radius: 100%;
  fill: transparent;
}
.svrvey-radio--allowhover:hover {
  .svrvey-radio__svg {
    fill: $border-color;
  }
}
.svrvey-radio--checked .svrvey-radio__svg {
  border-color: $radio-checked-color;
  fill: $radio-checked-color;
}
.svrvey-radio--disabled .svrvey-radio__svg {
  border-color: $disable-color;
}
.svrvey-radio--disabled.svrvey-radio--checked .svrvey-radio__svg {
  fill: $disable-color;
}
