.svrvey-row__question {
  vertical-align: top;
  white-space: normal;
}
.svrvey-row__question:not(:last-child) {
  float: left;
  @media only screen and (max-width: 600px) {
    padding-bottom: 2.5em;
    float: none;
  }
}
[dir="rtl"], [style*="direction:rtl"] {
  .svrvey-row__question:not(:last-child) {
    float: right;
  }
}
.svrvey-row:not(:last-child) {
  padding-bottom: 2.5em;
}
.svrvey-row__question--small:only-child {
  @media only screen and (min-width: 1000px) {
    max-width: 50%;
  }
}
.svrvey-row__question {
  @media only screen and (max-width: 600px) {
    width: 100% !important;
    padding-right: 0 !important;
  }
}
