.svrvey-question .svrvey-selectbase {
  margin-bottom: 4px;
}
.svrvey-selectbase__item {
  margin-bottom: 0.425em;
  vertical-align: top;
}
.svrvey-selectbase__item--inline {
  display: inline-block;
  padding-right: 5%;
}
.svrvey-selectbase__column {
  min-width: 19%;
  vertical-align: top;
}
.svrvey-selectbase__label {
  display: block;
  box-sizing: border-box;
  width: 100%;
  cursor: inherit;
}
.svrvey-selectbase__clear-btn {
  margin-top: 0.9em;
  background-color: $clean-button-color;
}
.svrvey-selectbase .svrvey-selectbase__item.svrvey-q-col-1{
  padding-right: 0;
}