[dir="rtl"] .survey-main, [style*="direction:rtl"] .survey-main {

  input {
    text-align: right;
  }
  th {
    text-align: right;
  }

  .survey-container {

    .survey-body {

      .survey-nav {

        .survey-start_btn,
        .survey-next_btn,
        .survey-complete_btn {
          float: left;
        }
        .survey-prev_btn {
          float: right;
        }
      }
    }
  }
}
