@media (max-width: 600px) {
  .survey-main {

    .survey-container {
      .survey-body {
        .page-root {
          .survey-row {

            .survey-q,
            .survey-qstn {
              display: block;
              width: 100% !important;

              .title-left {
                float: none;
              }

              .survey-q_radiogroup_inline,
              .survey-q_checkbox_inline,
              .survey-q_imagepicker_inline {
                display: block;
              }

              table.question-matrix,
              table.question-matrix-dropdown,
              table.question-matrix-dynamic {
                display: block;

                thead {
                  display: none;
                }

                tbody,
                tr,
                td {
                  display: block;
                }
              }

              table.question-matrix-dropdown,
              table.question-matrix-dynamic {
                td {
                  &:before {
                    content: attr(headers);
                  }
                }
              }

              table.question-matrix {
                td {
                  label.survey-q_m_label {
                    display: inline;
                  }

                  &:after {
                    content: attr(headers);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}